* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #41B3A2;    
    font-size: 2.4vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.parrot-logo {
   width: 25vw; 
   height: auto;
}

span {
    color: #ffffff;
}

.hide {
    display: none;
}
.btn-option {
    background-color: #ffffff;
    font-size: 80%;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    color: #41B3A2;
    width: 15vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.btn-option:hover {
    color: #FFB357;
}

div .correct {
    color: darkgreen;
}

div .wrong {
    color: #ec6578;
}

#text-question {
    max-width: 60vw;
    text-align: center;
    margin: 0;
}

#right {
    color: #FFB357;
    font-family: 'Bebas Neue', cursive;
}

#wrong {
    color: #ec6578;
    font-family: 'Bebas Neue', cursive;
}

#start, #next, #finish, #restart {
    font-size: 100%;
    font-family: 'Bebas Neue', cursive;
    border-radius: 25px;
    background-color: #FFB357;
    padding: 12px 16px;
    margin-top: 5%;
    border: none;
}

#start:hover, #next:hover, #finish:hover, #restart:hover {
    background-color: #ffffff;
    color: #FFB357;
}