* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #41B3A2;
    color: darkslategrey;
    font-size: 2.4vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.parrot-logo {
    width: 340px;
    height: auto;
}

span {
    color: #ffffff;
}

.hide {
    display: none;
}

.btn-option {
    background-color: #ffffff;
    font-size: 80%;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    color: #41B3A2;
    width: 20vw;
    margin-top: 3%;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn-option:hover {
    color: #FFB357;
}

.questions {
    display: flex;
    justify-content: center;
    margin-left: 4%;
    margin-right: 4%;
}

div .correct {
    color: darkgreen;
}

div .wrong {
    color: #ec6578;
}

#text-question {
    max-width: 60vw;
    text-align: center;
    margin: 0;
}

#answer-info {
    display: flex;
    justify-content: center;
    margin-left: 6%;
    margin-right: 6%;
}

#info {
    display: block;
    font-size: 1.8vw;
    font-weight: bold;
    margin-top: 3%;
}

#right {
    color: #FFB357;
}

#wrong {
    color: #ec6578;
}

#right-wrong {
    margin-top: 3%;
    font-size: 80%;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    display: inline;
}

#start,
#next,
#finish,
#restart {
    font-size: 100%;
    color: #2f4f4f;
    font-family: 'Bebas Neue', cursive;
    border-radius: 25px;
    background-color: #FFB357;
    padding: 12px 16px;
    margin-top: 3%;
    border: none;
}

#start:hover,
#next:hover,
#finish:hover,
#restart:hover {
    background-color: #ffffff;
    color: #FFB357;
}

#that-was-wrong span {
    color: #ec6578;
    font-family: 'Bebas Neue', cursive;
}

#you-are-right span {
    font-family: 'Bebas Neue', cursive;
}

#correct {
    margin-right: 10%;
}

#incorrect {
    margin-left: 10%;
}

#score-feedback {
    color: #ffffff;
    margin-top: 3%;
}

#score-area {
    margin-top: 3%;
}

/* media queries */

@media screen and (min-width: 480px) and (max-width: 920px) {

    .parrot-logo {
        width: 40vw;
        height: auto;
    }

    h2 {
        font-size: 6vw;
        margin: 10% 10%;
    }

    .questions {
        font-size: 4vw;
        display: flex;
        justify-content: center;
        margin: 0% 10% 0% 10%;
    }

    .btn-option {
        font-size: 3.5vw;
        border: none;
        border-radius: 25px;
        font-weight: bold;
        color: #41B3A2;
        width: 50vw;
        margin-top: 3%;
        margin-left: 1vw;
        margin-right: 1vw;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    #right-wrong {
        margin-top: 5%;
        font-size: 5vw;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        display: inline;
    }

    #answer-info {
        display: flex;
        justify-content: center;
        margin-left: 6%;
        margin-right: 6%;
    }
    
    #info {
        font-size: 4vw;
    }

    #start,
    #next,
    #finish,
    #restart {
        font-size: 6vw;
        padding: 16px;
        margin-top: 15%;
    }

    #you-are-right {
        font-size: 6vw;
    }

    #that-was-wrong {
        font-size: 6vw;
    }

    #score-area {
        margin-top: 10%;
    }

    #score-feedback {
        margin-top: 5%;
        font-size: 5vw;
    }

    #feedback-text {
        margin-top: 3%;
        font-size: 5vw;
    }

    #restart-text {
        margin-top: 3%;
        font-size: 5vw;
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .parrot-logo {
        width: 40vw;
        height: auto;
    }

    h2 {
        font-size: 6vw;
        margin: 10% 10%;
    }

    .questions {
        font-size: 4vw;
        display: flex;
        justify-content: center;
        margin: 0% 10% 0% 10%;
    }

    .btn-option {
        font-size: 3.5vw;
        border: none;
        border-radius: 25px;
        font-weight: bold;
        color: #41B3A2;
        width: 50vw;
        margin-top: 3%;
        margin-left: 1vw;
        margin-right: 1vw;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    #right-wrong {
        margin-top: 5%;
        font-size: 5vw;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        display: inline;
    }

    #answer-info {
        display: flex;
        justify-content: center;
        margin-left: 6%;
        margin-right: 6%;
    }
    
    #info {
        font-size: 4vw;
    }

    #start,
    #next,
    #finish,
    #restart {
        font-size: 6vw;
        padding: 14px;
        margin-top: 15%;
    }

    #you-are-right {
        font-size: 6vw;
    }

    #that-was-wrong {
        font-size: 6vw;
    }

    #score-area {
        margin-top: 10%;
    }

    #score-feedback {
        margin-top: 5%;
        font-size: 5vw;
    }

    #feedback-text {
        margin-top: 3%;
        font-size: 5vw;
    }

    #restart-text {
        margin-top: 3%;
        font-size: 5vw;
        margin-left: 5%;
        margin-right: 5%;
    }
}