body {
    margin-top: 5%;
    background-color: #41B3A2;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    text-align: center;
}

.parrot-logo {
   width: 30%; 
}

span {
    color: #ffffff;
}

#start {
    font-size: 90%;
    font-family: 'Bebas Neue', cursive;
    border-radius: 25px;
    background-color: #FFB357;
    padding: 12px 16px;
    margin-top: 5%;
    border: none;
}

#start:hover {
    background-color: #ffffff;
}